/**
 * Cloud browser admin tweaks.
 */

/** Containers */
div#cloud-browser-containers {
    border: 1px solid #666666;
    background: none repeat scroll 0 0 #F6F6F6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
div#cloud-browser-containers h2 {
    color: #666666;
}
div#cloud-browser-containers-min {
    width: 15px;
    position: relative;
    float: left;
}
div#cloud-browser-containers-hider-outer {
    float: right;
    position: relative;
}
div.cloud-browser-containers-hider,
div.cloud-browser-containers-hider-min {
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    color: #333333;
    background-color: #EEEEEE;
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
div.cloud-browser-containers-hider-min {
    border: 1px solid #666666;
}

/** Objects */
div#cloud-browser-objects {
    color: #666666;
}
table#cloud-browser-objects-table thead,
table#cloud-browser-objects-table tfoot,
table#cloud-browser-objects-table tfoot a {
    color: #666666;
    background: none;
}
table#cloud-browser-objects-table thead th,
table#cloud-browser-objects-table tfoot td {
    border: none;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
table#cloud-browser-objects-table tbody td {
    padding: 2px;
}

/** Forms */
form.cloud-browser-form input[type='text'] {
    background: #fff;
}
