/**
 * Cloud browser basic styles.
 */

.cloud-browser-defaults {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

/** Breadcrumbs */
div#cloud-browser-breadcrumbs {
    color: #999;
}
div#cloud-browser-breadcrumbs a {
    color: #333;
    text-decoration: none;
}
div#cloud-browser-breadcrumbs a:hover {
    text-decoration: underline;
}

/** Containers */
div#cloud-browser-containers h2,
div #cloud-browser-objects h2 {
    font-size: 1.35em;
    text-align: center;
}
div#cloud-browser-containers {
    float: left;
    width: 195px;
    margin-right: 5px;
    border: solid 1px #fff;
}
div#cloud-browser-containers ul {
    list-style-image: url(../img/tango/16x16/places/folder.png);
}
div#cloud-browser-containers a {
    color: #333;
    text-decoration: none;
}
div#cloud-browser-containers a:hover {
    text-decoration: underline;
    background: #f0f0f0;
}
div#cloud-browser-containers li {
    margin-left: -10px;
}
div#cloud-browser-containers li.cb-selected {
    font-style: italic;
    color: #666;
    list-style-image: url(../img/tango/16x16/status/folder-visiting.png);
}

/** Objects */
div#cloud-browser-objects {
    border: solid 1px #fff;
    margin-left: 200px;
    width: auto;
}
table#cloud-browser-objects-table {
    margin: auto;
    width: 99%;
    font-size: 1em;
}
table#cloud-browser-objects-table thead,
table#cloud-browser-objects-table tfoot {
    background: #f0f0f0;
}
table#cloud-browser-objects-table tfoot {
    font-weight: bold;
    text-align: right;
}
table#cloud-browser-objects-table thead th,
table#cloud-browser-objects-table tfoot td {
    border: 1px solid #999;
}
table#cloud-browser-objects-table tfoot td {
    padding: 1px;
    text-align: right;
}
table#cloud-browser-objects-table tfoot a {
    color: #333;
    text-decoration: none;
}
table#cloud-browser-objects-table tbody {
    margin-bottom: 10px;
}
table#cloud-browser-objects-table tbody tr:hover {
    background: #f0f0f0;
}
table#cloud-browser-objects-table tbody a {
    color: #333;
    text-decoration: none;
}
table#cloud-browser-objects-table tbody a:hover {
    text-decoration: underline;
}

/** Messages */
.cloud-browser-empty {
    text-align: center;
    font-style: italic;
    color: #666;
}

/** Forms */
form.cloud-browser-form {
    display: inline;
    padding: 3px;
}
form.cloud-browser-form input[type='text'] {
    color: #333;
    border: 1px solid #999;
    text-align: center;
    font-size: 0.85em;
}
form.cloud-browser-form input[name='limit'] {
    width: 25px;
}
a.cloud-browser-form-link {
    text-decoration: none;
}

/** Unused */
/*.cloud-browser-round4 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}*/
