/**
 * Cloud browser admin tweaks.
 */

/** Containers */
div#cloud-browser-containers {
    background: none repeat scroll 0 0 #417690;
}
div#cloud-browser-containers h2 {
    color: #F4F379;
}
div#cloud-browser-containers-min {
    background: none repeat scroll 0 0 #EEEEEE;
    width: 19px;
    position: relative;
    float: left;
}
div#cloud-browser-containers-hider-outer {
    float: right;
    position: relative;
}
div.cloud-browser-containers-hider {
    border: 2px solid #666666;
    color: #666666;
    background-color: #DDDDDD;
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    cursor: pointer;
    text-align: center;
    width: 15px;
}

/** Objects */
div#cloud-browser-objects {
    color: #666666;
}
table#cloud-browser-objects-table thead,
table#cloud-browser-objects-table tfoot,
table#cloud-browser-objects-table tfoot a {
    color: #666666;
    background: none;
}
table#cloud-browser-objects-table tfoot td {
    border: none;
    border-bottom: 1px solid #DDDDDD;
}
table#cloud-browser-objects-table tbody a {
    color: #417690;
}

/** Forms */
form.cloud-browser-form input[type='text'] {
    background: #fff;
}
