Django==1.4.2
Fabric==1.4.3
boto==2.6.0
distribute==0.6.36
logilab-astng==0.24.1
logilab-common==0.58.1
pep8==1.3.3
pycrypto==2.6
pylint==0.26.0
python-cloudfiles==1.7.10
Sphinx==1.1.3
ssh==1.8.0
wsgiref==0.1.2
sphinx-bootstrap-theme==0.4.0