Django>=1.8.0
setuptools==20.1
Fabric3==1.14.post1
boto==2.48.0
logilab-astng==0.24.1
logilab-common==0.58.1
pycrypto==2.6
pylint==1.8.2
python-swiftclient==3.5.0
Sphinx==1.6.1
ssh==1.8.0
sphinx-bootstrap-theme==0.6.4
