{% comment %}
###############################################################################
# Browser Content Snippet
###############################################################################
{% endcomment %}

{% load cloud_browser_extras %}

{% block cloud_browser_content %}
<div id="cloud-browser-all" class="cloud-browser-defaults">
<div id="cloud-browser-containers">
<h2>Containers</h2>
<ul>
{% for cont in containers %}
  {% if cont == container %}
  <li class="cb-selected">{{ cont.name|truncatechars:22 }}</li>
  {% else %}
  <li>
    <a href="{% url "cloud_browser_browser" cont.name|urlencode %}"
       title="{{ cont.name }}">{{ cont.name|truncatechars:22 }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>
</div>

<div id="cloud-browser-objects">
<h2>Objects</h2>
{% if objects %}
<table id="cloud-browser-objects-table">
  <thead>
    <tr>
      <th style="width: 16px;">&nbsp;</th>
      <th>Name</th>
      <th>Content Type</th>
      <th>Encoding</th>
      <th>Size (Bytes)</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
      <tr>
        {% if obj.is_subdir %}
            <td><img src="{% cloud_browser_media_url 'img/tango/16x16/places/folder.png' %}" /></td>
        {% else %}
            <td><img src="{% cloud_browser_media_url 'img/tango/16x16/mimetypes/text-x-generic.png' %}" /></td>
        {% endif %}
        {% if obj.is_file %}
        <td><a href="{% url "cloud_browser_document" obj.path|urlencode %}"
            >{{ obj.basename }}</a></td>
        {% else %}
        <td><a href="{% url "cloud_browser_browser" obj.path|urlencode %}"
               class="cloud-browser-document-link"
            >{{ obj.basename }}</a></td>
        {% endif %}
        <td>
            {% if obj.smart_content_type %}
                {{ obj.smart_content_type }}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.smart_content_encoding %}
                {{ obj.smart_content_encoding }}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.is_file or obj.size > 0 %}
                {{ obj.size|filesizeformat }}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.last_modified %}
                {{ obj.last_modified|date:'DATETIME_FORMAT' }}
            {% else %}--{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        {% if marker_part %}
        <form id="cloud-browser-next" class="cloud-browser-form"
          action="{% url "cloud_browser_browser" path|urlencode %}" method="post">
          {% csrf_token %}
          Next
          <input name="limit" type="text" size="5"
              onkeypress="CloudBrowser.submitOnEnter(event, 'cloud-browser-next');"
              value="{{ limit }}"/>
          after
          <input name="marker_part" type="text"
              size="{% widthratio marker_part|length 40 40 %}"
              onkeypress="CloudBrowser.submitOnEnter(event, 'cloud-browser-next');"
              value="{{ marker_part }}"/>
          <a href="#" class="cloud-browser-form-link"
              onclick="return CloudBrowser.submitForm('cloud-browser-next');"
              >&raquo;</a>
        </form>
        {% else %}
            &nbsp;
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% else %}
    {% if container %}
        <div class="cloud-browser-empty" colspan="6">
            No objects found in &ldquo;{{ path }}.&rdquo;
        </div>
    {% else %}
        <div class="cloud-browser-empty" colspan="6">
            No container selected. Please click on a container to list
            object contents.
        </div>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}