{% comment %}
###############################################################################
# Browser Base
#
# Note: Override this base template to integrate rest of templates to site
# look and feel.
###############################################################################
{% endcomment %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
{% block cloud_browser_template_head %}{% endblock %}
{% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}
  {% block menu %}{% endblock %}
  <div id="cloud-browser-breadcrumbs" class="cloud-browser-defaults">
    {% block cloud_browser_breadcrumbs %}{% endblock %}
  </div>
  <div id="cloud-browser-content">
    {% block cloud_browser_content %}{% endblock %}
  </div>
{% endblock %}
</body>
</html>
