{% extends "cloud_browser/base.html" %}

{% comment %}
###############################################################################
# Browser
###############################################################################
{% endcomment %}

{% block title %}
Cloud Browser - {{ path }}
{% endblock %}

{% block cb_breadcrumbs %}
  {% include "cloud_browser/_breadcrumbs.html" %}
{% endblock %}

{% block template_head %}
<style type="text/css">
div #containers, div #objects {
    border: 1px solid red;
}
div #containers {
    background: #333;
    color: #ccc;
    float: left;
    width: 150px;
}
div #containers a {
    color: #ccc;
    text-decoration: none;
}
div #containers a:hover {
    text-decoration: underline;
}
div #objects {
    width: auto;
}
</style>
{% endblock %}

{% block content %}
<div id="all">
<div id="containers">
<h2>Containers</h2>
<ul>
{% for cont in containers %}
  <li><a href="{% url cloud_browser_browser cont.name %}">{{ cont.name }}</a>
      {#({{ cont.count }} objects, {{ cont.size|filesizeformat }})#}</li>
{% endfor %}
</ul>
</div>

<div id="objects">
<h2>Objects</h2>
<br/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Content Type</th>
      <th>Encoding</th>
      <th>Size (Bytes)</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
      <tr>
        {% if obj.is_file %}
        <td><a href="{% url cloud_browser_document obj.path %}">
            {{ obj.basename }}</a></td>
        {% else %}
        <td><a href="{% url cloud_browser_browser obj.path %}">
            {{ obj.basename }}</a></td>
        {% endif %}
        <td>{{ obj.type }}</td>
        <td>{{ obj.smart_content_type|default_if_none:'' }}</td>
        <td>{{ obj.smart_content_encoding|default_if_none:'' }}</td>
        <td>{{ obj.size|filesizeformat }}</td>
        <td>{{ obj.last_modified|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfooter>
    <tr>
      <td colspan="6">
        {% if marker %}
        <a href="{% url cloud_browser_browser path %}?marker={{ marker|urlencode }}&limit={{ limit|urlencode }}">Next</a> &raquo;
        {% endif %}
      </td>
    </tr>
  </tfooter>
</table>
</div>
</div>
{% endblock %}
