{% extends "cloud_browser/base.html" %}

{% comment %}
###############################################################################
# Browser
###############################################################################
{% endcomment %}

{% block title %}
Cloud Browser
{% endblock %}

{% block content %}
<h2>Path Parts</h2>
<ul>
  <li><b><a href="{% url cloud_browser_browser '' %}">All Folders</a></b></li>
  <li>Folder: "<b><a href="{% url cloud_browser_browser folder %}"
      >{{ folder }}</a></b>".</li>
  <li>File: "<b>{{ file }}</b>".</li>
</ul>

{% if folder_infos %}
<h2>Folders</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Count</th>
    <th>Bytes</th>
  </thead>
  <tbody>
    {% for info in folder_infos %}
      <tr>
        <td><a href="{% url cloud_browser_browser info.name %}">
            {{ info.name }}</a></td>
        <td>{{ info.count }}</td>
        <td>{{ info.bytes }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if file_infos %}
<h2>Files</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Bytes</th>
    <th>Type</th>
    <th>Date</th>
  </thead>
  <tbody>
    {% for info in file_infos %}
      <tr>
        <td><a href="{% url cloud_browser_browser info.path %}">
            {{ info.rel_path }}</a></td>
        <td>{{ info.bytes }}</td>
        <td>{{ info.content_type }}</td>
        <td>{{ info.last_modified }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
