{% extends "cloud_browser/admin/base.html" %}

{% comment %}
###############################################################################
# Browser
#
# Admin version (for integration in Django admin area).
###############################################################################
{% endcomment %}

{% load adminmedia %}
{% load cloud_browser_extras %}

{% block title %}
Cloud Browser - {{ path }}
{% endblock %}

{% block cloud_browser_breadcrumbs %}
    {% include "cloud_browser/_breadcrumbs.html" %}
{% endblock %}

{% block cloud_browser_template_head %}
{# Use jQuery from Admin #}
<script type="text/javascript" 
        src="{% admin_media_prefix %}js/jquery.js"></script>
<script type="text/javascript" 
        src="{% admin_media_prefix %}js/jquery.init.js"></script>

{% cloud_browser_media_link "css/cloud-browser.css" %}
{% cloud_browser_media_link "css/cloud-browser-admin.css" %}
{% cloud_browser_media_link "js/browser.js" %}

<script type="text/javascript">
(function ($) {
    $(document).ready(function ($) {
        var $conts = $('#cloud-browser-containers');
        var contHeight = $conts.height();
        var $objs = $('#cloud-browser-objects');

        // Add show/hide "hider" element.
        var hiderOpen = "-";
        var hiderClosed = "+";
        var $hiderOuter = $('<div />').
            attr('id', "cloud-browser-containers-hider-outer").
            prependTo($conts);
        var $hider = $('<div />').
            attr('id', "cloud-browser-containers-hider").
            text(hiderOpen);
            // TODO -- .prependTo($hiderOuter);

        $hider.click(function () {
            if ($hider.text() == hiderOpen) {
                console.log("Currently opened. CLOSING");
                $hider.text(hiderClosed);
            } else {
                console.log("Currently closed. OPENING");
                $hider.text(hiderOpen);
            }
        });
    });
})(django.jQuery);
</script>
{% endblock %}

{% block cloud_browser_content %}
    {% include "cloud_browser/_browser.html" %}
{% endblock %}
